<!DOCTYPE html>
<html>
<head>
  <title>Get Moving Rails Server!</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

<%= yield %>

</body>
</html>
